/.quarto/

email_icon.png

github_icon.png

phone_icon.png

linkedin_icon.png

github_index.png

linkedin_icon_final.png

molecules.jpeg

traffic_accident_imgs

Age_Dashboard.png

Gender_Dashboard.png

about_img.jpg

leaflet_earthquakes.png

biodiversity_dashboard.png